.container {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(255, 20, 147);
    height: 100px;
}

.contents {
    height: 500px;
    display: flex;
}

.box {
    margin-top: 15px;
    margin-bottom: 15px;
}

#box1 {
    background-color: rgb(238, 20, 129);
    width: 80%;
}

#box2 {
    background-color: rgb(197, 8, 8);
    width: 20%;
    margin-left: 15px;
}

.footer {
    background-color: rgb(105, 6, 72);
    height: 100px;
}

/*

.container {
    margin: 30px;
}

.header {
    background-color: rgb(255, 20, 147);
    height: 100px;
}

.contents {
    height: 450px;
    display: flex;
}

.box {
    margin-top: 15px;
    margin-bottom: 15px;
}

#box1 {
    background-color: rgb(238, 20, 129);
    width: 80%;
}

#box2 {
    background-color: rgb(197, 8, 8);
    width: 20%;
    margin-left: 15px;
}

.footer {
    background-color: rgb(105, 6, 72);
    height: 100px;
}

*/